#gridPane {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-text-fill: #d8d8d8; 
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 12pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-color: rgb(112, 111, 104);
    -fx-font-size: 9pt;
    -fx-text-fill: #f1f1f1;
    -fx-font-weight: bold;
    
}

.button:focused {
    -fx-border-color: rgb(215, 253, 0), rgb(251, 255, 0);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#textField {
    -fx-background-color: #1d1d1d;
    -fx-border-color: #e2e2e2;
    -fx-text-fill: #fdfdfd;

}

#textField:hover {
    -fx-background-color: #948d8d;
    -fx-text-fill: #222121;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;

}

#textField:focused {
    -fx-border-color: rgb(215, 253, 0), rgb(251, 255, 0);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

#passwordField {
    -fx-background-color: #1d1d1d;
    -fx-border-color: #e2e2e2;
    -fx-text-fill: #ffffff;
}

#passwordField:hover {
    -fx-background-color: #948d8d;
    -fx-text-fill: #222121;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}

#passwordField:focused {
    -fx-border-color: rgb(215, 253, 0), rgb(251, 255, 0);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}    

#loginBtn {
    -fx-background-color: rgba(0, 0, 0, 0.623);
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#loginBtn:hover {
    -fx-background-color: rgba(245, 240, 240, 0.692);
   -fx-font-size: 12pt;
   -fx-text-fill: #000000;
   -fx-font-weight: bold;
}

#loginBtn:pressed {
    -fx-background-color: rgba(6, 199, 54, 0.842);
    -fx-font-size: 9pt;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#loginBtn:focused {
    -fx-border-color: rgb(215, 253, 0), rgb(251, 255, 0);
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}




